<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="icon" type="image/x-icon" href="Images\subwayheader.png">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="MyApp" ng-controller="MyController">

	<header>
		<nav class="head">
			<ul class="tab-list">
				<img src="Images\subwayheader.png">
				<li ng-class="{active: selectedTab === 1}"> <button  ng-click="selectTab(1)">Home</button></li>
				<li  ng-class="{active: selectedTab === 2}"> <button ng-click="selectTab(2)">Menu</button></li>
				<li ng-class="{active: selectedTab === 3}"> <button  ng-click="selectTab(3)">AboutUs</button></li>
				<li ng-class="{active: selectedTab === 4}"> <button  ng-click="selectTab(4)" class="TButton"> TALK
						TO US</button></li>
				<li ng-class="{active: selectedTab === 5}"><button  ng-click="selectTab(5)" id="mycart" onmouseover="glow()" onmouseout="stopglow()">My Cart
						(<span id="cart-count">0</span>)</button></li>
			</ul>
		</nav>


	</header>

	<div style="background-image: url('Images/Lsubway.png');width: 100%;height: 100%; background-position: center;
	background-repeat: no-repeat;
	background-size: cover; @media screen and (min-width: 500px) {
		width: 50%;
		height: 100%;
	}" class="tab-content" ng-class="{ active: selectedTab === 1 }">

	</div>
	<div class="tab-content" ng-class="{ active: selectedTab === 2 }">
		<div class="mainbackground">
			<div class="layer1background">
				<div class="layer1">
					<p class="menu_p">GOODNESS THAT<br> TASTES LIKE<br>
						<span id="omg">OH MY GOODNESS!<br>
						</span>
						<span>MEET THE GRILLS</span>
					</p>
				</div>
				<div id="firstdialogBox" class="dialog">
					<div class="dialogContent"><span class="close">&times;</span><br>
						<img class="innerItem" id="bombayGrillimgID"
							src="https://subway.in/static/media/BombayGrillDP.86e875d6d6fc0ca04831.webp" /><br>
						<span>
							<b>
								The classic Bombay sandwich in grilled Italian white bread loaded with tomato, cucumber,
								onion, capsicum, coriander & green chillies chutney and a whole lotta love. <br>
								Allergens - Contains wheat and milk. <br>
								<span style="color: greenyellow;">219 g / 443 kcal.</span><br>
								<button id="bombayGrill" class="addToCartBtn">Add to Cart</button>

							</b>
						</span>
					</div>

				</div>
				<div id="seconddialogBox" class="dialog">
					<div class="dialogContent"><span class="close">&times;</span><br>
						<img class="innerItem" id="delhiTikkiDPimgID"
							src="https://subway.in/static/media/DelhiTikkiDP.1179986289366d6b7a16.webp" /><br>
						Grilled Italian white bread stuffed with flavourful aloo patty, onion, chilli mayo and creamy
						<br>
						cheezy sauce for a desi twist. <br>
						Allergens - Contains wheat, milk, barley, oats and soy. <br>
						<span style="color: greenyellow;">192 g / 535 kcal.</span><br>
						<button id="delhiTikkiDP" class="addToCartBtn">Add to Cart</button>
					</div>
				</div>
				<div id="thirddialogBox" class="dialog">
					<div class="dialogContent">
						<span class="close">&times;</span><br>
						<img class="innerItem" id="threeCheeseMeltDPimgID"
							src="https://subway.in/static/media/ThreeCheeseMeltDP.33f90f04a504d2c324b3.webp" /><br>
						<span>
							<b>
								Have a cheese blast with Three Cheese Grill sandwich. Freshly grilled Italian white
								bread stuffed with potato patty, lettuce, onion, capsicum and jalapenos, topped with
								oregano spice mix and the cheesy trio of cheese slice, liquid cheese and mozzarella.
								<br>
								Allergens - Contains wheat, milk, barley, oats and soy. <br>
								<span style="color: greenyellow;">244g/633 Kcal.</span><br>
								<button id="threeCheeseMeltDP" class="addToCartBtn">Add to Cart</button>
							</b>
						</span>
					</div>

				</div>
				<div id="fourthdialogBox" class="dialog">
					<div class="dialogContent">
						<span class="close">&times;</span><br>
						<img class="innerItem" id="chickenKeemsDPimgID"
							src="https://subway.in/static/media/ChickenKeemsDP.076bc1b9ca1d6c3028fe.webp" /><br>
						<span>
							<b>
								Juicy chicken keema in grilled Italian white bread loaded with onion, chilli mayo and
								creamy cheezy sauce. <br>
								Allergens - Contains wheat, milk, Soy, barley, oats, and nuts. <br>
								<span style="color: greenyellow;">179 g / 508 kcal.</span><br>
								<button id="chickenKeemsDP" class="addToCartBtn">Add to Cart</button>
							</b>
						</span>
					</div>

				</div>
				<div id="fifthdialogBox" class="dialog">
					<div class="dialogContent">
						<span class="close">&times;</span><br>
						<img class="innerItem" id="roastChickenMeltDPimgID"
							src="https://subway.in/static/media/RoastChickenMeltDP.4a2bd50d33283a91ea67.webp" /><br>
						<span>
							<b>
								Smokin' pepper chicken strips stuffed in grilled Italian white bread topped with
								lettuce, onion, jalapenos, honey mustard, oozing cheese slice and creamy cheezy sauce.
								Allergens - Contains wheat, milk, Soy, barley, oats and nuts. <br>
								<span style="color: greenyellow;">202 g / 506 kcal.</span><br>
								<button id="roastChickenMeltDP" class="addToCartBtn">Add to Cart</button>
							</b>
						</span>
					</div>

				</div>
				<div id="sixthdialogBox" class="dialog">
					<div class="dialogContent">
						<span class="close">&times;</span><br>
						<img class="innerItem" id="eggnCheeseDPimgID"
							src="https://subway.in/static/media/Egg&CheeseDP.8ff95c4578be871a8ae4.webp" /><br>
						<span>
							<b>
								The classic all-day breakfast. Eggwich is a freshly grilled Italian white bread stuffed
								with potato omelette, capsicum, onion, topped with oregano spice mix, chilli mayo,
								liquid cheese, mozzarella and cheese slice for some extra oozing cheesiness. <br>
								Allergens - Contains wheat, milk, egg, barley, oats and soy. <br>
								<span style="color: greenyellow;">259 g / 683 kcal.</span><br>
								<button id="eggnCheeseDP" class="addToCartBtn">Add to Cart</button>
							</b>
						</span>
					</div>

				</div>
				<div class="layer1">
					<div class="menuitems"><img class="Item1" id="first"
							src="https://subway.in/static/media/BombayGrillDP.86e875d6d6fc0ca04831.webp" /><br><span
							class="title">Bombay
							Grill</span></div>
					<div class="menuitems"><img class="Item1" id="second"
							src="https://subway.in/static/media/DelhiTikkiDP.1179986289366d6b7a16.webp" /><br><span
							class="title">Delhi Tadka</span></div>
					<div class="menuitems"><img class="Item1" id="third"
							src="https://subway.in/static/media/ThreeCheeseMeltDP.33f90f04a504d2c324b3.webp" />
						<br><span class="title">Three Cheese Melt</span>
					</div>
				</div>
				<div class="layer1">
					<div class="menuitems"><img class="Item1" id="fourth"
							src="https://subway.in/static/media/ChickenKeemsDP.076bc1b9ca1d6c3028fe.webp" /> <br><span
							class="title">Chicken Keema</span></div>
					<div class="menuitems"><img class="Item1" id="fifth"
							src="https://subway.in/static/media/RoastChickenMeltDP.4a2bd50d33283a91ea67.webp" />
						<br><span class="title">Roasted Chicken Melt</span>
					</div>
					<div class="menuitems"><img class="Item1" id="sixth"
							src="https://subway.in/static/media/Egg&CheeseDP.8ff95c4578be871a8ae4.webp" /> <br><span
							class="title">Egg n' Cheese</span></div>
				</div>

				<img id="CravingMoreID" src="Images\CravingMoreEMO.png" />

			</div>
			<div class="layer1">
				<p class="menu_p">
					<span id="omg">Discover Our<br> Signature Sandwitch<br>
					</span>
					<span style="color: black; font-weight: bold;">Our Delicious Chef Crafted Recipe</span>
				</p>
			</div>
			<div id="seventhdialogBox" class="dialog">
				<div class="dialogContent">
					<span class="close">&times;</span><br>
					<img class="innerItem" id="chilliCheeseDPimgID"
						src="https://subway.in/static/media/ChilliCheeseDP.67de354cf250e1ab15aa.webp" /><br>
					<span>
						<b>
							Multigrain, 3-cheese toasted sub with herby aloo patty, jalapeño, onion & capsicum with
							chilli mayo. <br>
							Allergens - Contains wheat, rye, barley, oats, milk & soy. <br>
							<span style="color: greenyellow;">284 g/ 678 kcal.</span><br>
							<button id="chilliCheeseDP" class="addToCartBtn">Add to Cart</button>
						</b>
					</span>
				</div>

			</div>
			<div id="eigthdialogBox" class="dialog">
				<div class="dialogContent">
					<span class="close">&times;</span><br>
					<img class="innerItem" id="paneerAchariDPimgID"
						src="https://subway.in/static/media/PaneerAchariDP.3b7ab38d0969fdf9dcb2.webp" /><br>
					<span>
						<b>
							Multigrain toasted sub with chunks of paneer, achari mayo, pickled onion, capsicum, tomato
							and chilli mayo. <br>
							Allergens - Contains wheat, rye, barley, oats, milk & soy. <br>
							<span style="color: greenyellow;">240 g/ 589 kcal.</span><br>
							<button id="paneerAchariDP" class="addToCartBtn">Add to Cart</button>
						</b>
					</span>
				</div>

			</div>
			<div id="ninthdialogBox" class="dialog">
				<div class="dialogContent">
					<span class="close">&times;</span><br>
					<img class="innerItem" id="crunchyMexicanDPimgID"
						src="https://subway.in/static/media/CrunchyMexicanDP.db3d51de8987c302270a.webp" /><br>
					<span>
						<b>
							Multigrain toasted sub with Mexican bean patty, tomato, capsicum, onion, olives, jalapeño,
							southwest chipotle sauce & crunchy nachos. <br>
							Allergens - Contains wheat, rye, barley, oats, milk & soy. <br>
							<span style="color: greenyellow;">295 g/ 702 kcal.</span><br>
							<button id="crunchyMexicanDP" class="addToCartBtn">Add to Cart</button>
						</b>
					</span>
				</div>

			</div>
			<div id="tenthdialogBox" class="dialog">
				<div class="dialogContent">
					<span class="close">&times;</span><br>
					<img class="innerItem" id="chickenTikkaAchariDPimgID"
						src="https://subway.in/static/media/ChickenTikkaAchariDP.19f5470adb3e770ac4e1.webp" /><br>
					<span>
						<b>
							Multigrain toasted sub with Tandoori Chicken, achari mayo, pickled onion, capsicum and
							tomato, topped with chilli mayo for an extra kick. <br>
							Allergens - Contains wheat, rye, barley, oats, milk & soy. <br>
							<span style="color: greenyellow;">240 g/ 520 kcal.</span><br>
							<button id="chickenTikkaAchariDP" class="addToCartBtn">Add to Cart</button>
						</b>
					</span>
				</div>

			</div>
			<div id="eleventhdialogBox" class="dialog">
				<div class="dialogContent">
					<span class="close">&times;</span><br>
					<img class="innerItem" id="pepperChickenDPimgID"
						src="https://subway.in/static/media/PepperChickenDP.1c6ce55cdb2cdf4c00e5.webp" /><br>
					<span>
						<b>
							A flavourful toasted sub loaded with capsicum, olives & jalapeños. This warm sandwich has
							juicy black pepper chicken paired with creamy Italian sauce and white Italian bread as the
							base. <br>
							Allergens - Contains wheat, rye, barley, oats, milk, nuts & soy. <br>
							<span style="color: greenyellow;">189 g/359 kcal.</span><br>
							<button id="pepperChickenDP" class="addToCartBtn">Add to Cart</button>
						</b>
					</span>
				</div>

			</div>
			<div id="twelfthdialogBox" class="dialog">
				<div class="dialogContent">
					<span class="close">&times;</span><br>
					<img class="innerItem" id="americanBBQDPimgID"
						src="https://subway.in/static/media/AmericanBBQDP.624675fe9e3883b54416.webp" /><br>
					<span>
						<b>
							Multigrain toasted sub with chicken pepperoni, chicken slice, smoked chicken strips, onion,
							pickle, capsicum, eggless mayo and barbecue sauce. <br>
							Allergens - Contains wheat, rye, barley, oats, milk & soy. <br>
							<span style="color: greenyellow;">253 g/ 539 kcal.</span><br>
							<button id="americanBBQDP" class="addToCartBtn">Add to Cart</button>
						</b>
					</span>
				</div>

			</div>
			<div class="layer2">

				<div class="menuitems2"><img class="Item2" id="seventh"
						src="https://subway.in/static/media/ChilliCheeseDP.67de354cf250e1ab15aa.webp" /><span
						class="title2"><b>Chilli Cheese</b></span></div>

				<div class="menuitems2"><img class="Item2" id="eigth"
						src="https://subway.in/static/media/PaneerAchariDP.3b7ab38d0969fdf9dcb2.webp" /><span
						class="title2"><b>Paneer Achari</b></span></div>

				<div class="menuitems2"><img class="Item2" id="ninth"
						src="https://subway.in/static/media/CrunchyMexicanDP.db3d51de8987c302270a.webp" /><span
						class="title2"><b>Cruncy Mexican</b></span></div>

			</div>
			<div class="layer2">

				<div class="menuitems2"><img class="Item2" id="tenth"
						src="https://subway.in/static/media/ChickenTikkaAchariDP.19f5470adb3e770ac4e1.webp" /><span
						class="title2"><b>Chicken Tikka Achari</b></span></div>

				<div class="menuitems2"><img class="Item2" id="eleventh"
						src="https://subway.in/static/media/PepperChickenDP.1c6ce55cdb2cdf4c00e5.webp" /><span
						class="title2"><b>Pepper Chicken With Dip</b></span></div>

				<div class="menuitems2"><img class="Item2" id="twelfth"
						src="https://subway.in/static/media/AmericanBBQDP.624675fe9e3883b54416.webp" /><span
						class="title2"><b>Great American BBQ</b></span></div>

			</div>
		</div>

	</div>
	<div class="tab-content" ng-class="{ active: selectedTab === 3 }">
		<section>
			<p class="aboutUS_P">
				We believe that when you eat fresh, you think fresh; and we bring this fresh thinking in all our
				endeavours. We
				are committed to innovating better, healthier, high-quality food that delights our customers. We are
				dedicated
				to fostering positive impact by providing sustainable livelihoods to our suppliers and meaningful
				careers to our
				team.
			</p>
			<section>
				<img src="Images\subwaysandiwtchbrand.png" class="aboutIMG" />
			</section>
			<p style="line-height: 40px;" class="aboutUS_P">
				Eversub India Pvt Limited (EIPL) has the master franchise rights to open and operate HealthyLo
				restaurants
				in
				India, Sri Lanka and Bangladesh. HealthyLo is set to expand freshness and power through the mission of
				serving
				healthy, tasty, and fresh food to everyone.
			</p>
			<section style="text-align: left;">
				<img src="Images\subwaysandiwtchbrand2.png" class="aboutIMG" />
			</section>
			<p style="line-height: 40px;" class="aboutUS_P">
				India is the largest market for EIPL and is focussed to expand HealthyLo footprint aggressively. EIPL is
				a
				fully
				owned subsidiary of Culinary Brands Private Limited.
			</p>

		</section>

	</div>
	<div class="tab-content" ng-class="{ active: selectedTab === 4 }">
		<div class="main">
			<div class="content">
				<form>
					<h2 id="notice">Talk to us!</h2><br>
					<h3>Please share with us below details:</h3><br>
					<h2>Mobile number:<span class="imp">*<span></h2>
					<input type="number" placeholder="Mobile Number" required="True">
					<h2>Name:<span class="imp">*<span></h2>
					<input type="text" placeholder="Name" required="True">
					<h2>Email ID:<span class="imp">*<span></h2>
					<input type="Email" placeholder="Email" required="True">
					<h2>Do you have your last Order Details:<span class="imp">*</span></h2>
					<input type="radio" type="radio" name="ans">Yes
					<input type="radio" type="radio" name="ans">No
					<h2>Attachment, if any</h2>
					<input type="submit" value="Click me" class="register">
					<div class="footer">
						<p>All rights reserved. HealthyLo is a Registered Trademark of HealthyLo IP LLC. ©2024 Healthylo
							IP LLC., and is
							licensed to Aseef India Private Limited under an exclusive master franchisee arrangement for
							the territory
							of the Republic of India.</p>
					</div>

				</form>
			</div>
		</div>
	</div>
	<div class="tab-content" ng-class="{ active: selectedTab === 5 }">
		<div id="cart-section">
			<div id="cart-items"></div>
			<div id="grand-total">Grand Total: Rs. 0</div>
			<button class="addToCartBtn" id="checkout">Check out</button>
		</div>

		<div id="bill-summary"></div>
	</div>
	<div class="homevideo">
		<video controls autoplay muted loop>
			<source src="videos/subwayadvt.mp4" type="video/mp4">
			Your Browser Does not Support the Tag.
		</video>
	</div>
	<script src="index.js"></script>

</body>

</html>
