* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}
.tab-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-list li {
  margin: 0;
}

.tab-list button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.tab-list li.active button {
  background-color: red;
  color: white;
}
.tab-content {
  display: none;
  padding: 20px;
}
.tab-content.active {
  display: block;
}
.header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  word-spacing: 5px;
}
.tab-content {
  display: none;
  height: fit-content;
  justify-content: space-between;
}
.tab-content.active {
  display: block;
}
#mycart {
  border: 1px solid burlywood;
  padding: 5px;
  border-radius: 5px;
}
.layer1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.layer2 {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .header {
    width: 50%;
    position: relative;
    background-color: white;
  }
  .tab-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tab-list li {
    margin: 0;
  }
  
  .tab-list button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .tab-list li.active button {
    
    background-color: red;
    color: white;
  }
  .tab-content {
    display: none;
    padding: 20px;
  }
  .tab-content.active {
    display: block;
  }
  .mainbackground {
    width: 100%;
  }
  .menuitems {
    width: 50%;
  }
  .menuitems2 {
    padding: 5px;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px black;
  }
  .Item1 {
    width: 50%;
  }
  .Item2 {
    width: 50%;
  }
  .Item1:active{
    background-color: black;
    box-shadow: 2px 2px 21px 2px whitesmoke;
    transform: scale(0.95);
  }
  .menuitems2:active{
    background-color: white;
    box-shadow: 2px 2px 21px 2px lightseagreen;
    transform: scale(0.95);
  }
  .layer1background {
    width: 100%;
  }
  .layer1 {
    width: 100%;
  }
  .layer2 {
    width: 80%;
  }

  .head {
    margin-top: 2px;
    margin-bottom: 1px;
    text-align: center;
    word-spacing: 1px;
  }
  .title {
    text-align: center;
    color: white;
  }

  .title2 {
    font-size: 2px;
    text-align: center;
    color: black;
  }
  #CravingMoreID {
    width: 50%;
}
.homevideo{text-align: center;}
video {
  border-radius: 15px;
  width: 25%;
  height: auto;
  position: sticky;
}
button:active {
  background-color: darkred; 
  transform: scale(0.95); 
}


}
li {
  color: white;
  display: inline;
}
button {
  background: forestgreen;
  color: white;
  border: none;
  padding: 0.2em;
  border-radius: 10px;
  cursor: pointer;
}
button:active {
  background-color: darkred; 
  transform: scale(0.95); 
}

.TButton {
  align-self: center;
  font-size: 30px;
  background-color: forestgreen;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.homevideo{text-align: center;}
video {
  border-radius: 15px;
  width: 25%;
  height: auto;
  position: sticky;
}

form {
  text-align: center;
  background-color: green;
}
#notice {
  left: 40%;
  color: white;
  font-style: bold;
}
.imp {
  color: red;
}
.content {
  text-align: center;
}
.main {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
input[type="text"],
[type="number"],
[type="email"] {
  border: none;
  border-radius: 20px;
  text-align: center;
}
input[type="number"]:focus,
[type="text"]:focus,
[type="email"]:focus {
  width: 75%;
}

.radio {
  accent-color: green;
  width: 15px;
  height: 50px;
}
.register {
  color: lightcoral;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  background-color: white;
}

p {
  text-align: center;
}
.footer {
  color: white;
  width: 100%;
  background-color: forestgreen;
}

.menu_p {
  font-weight: 900;
  color: white;
  margin-left: 10%;
  padding-top: 25px;
  font-family: sans-serif;
  text-align: left;
}

#omg {
  color: gold;
  font: bolder;
}
.dialog {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: fit-content;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}
.dialog::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.dialogContent {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 15px;
  width: 50%;
  text-align: center;
}
.close {
  float: right;
  font-size: 50px;
  font-weight: bold;
  color: red;
}
.close:hover,
.close:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}
.addToCartBtn {
  background-color: forestgreen;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.menuitems {
  padding: 25px;
}
.menuitems2 {
  padding: 5px;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px black;
}

.layer1background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-image: url("Images/menubackground.png");
}
.innerItem {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 20px;
}
.Item1 {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.Item2 {
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
}
.Item1:active{
  background-color: black;
  box-shadow: 2px 2px 21px 2px whitesmoke;
  transform: scale(0.95);
}
.menuitems2:active{
  background-color: white;
  box-shadow: 2px 2px 21px 2px lightseagreen;
  transform: scale(0.95);
}
.title {
  text-align: center;
  color: white;
}

.title2 {
  text-align: center;
  color: black;
}

#CravingMoreID {
  display: block;
  margin: 0 auto;
  transition: 1s;
}

#CravingMoreID:hover {
  transform: rotateY(360deg);
}
.aboutUS_P {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: larger;
  text-align: left;
  margin: 40px;
  padding: 15px;
  border-radius: 25px;
  /* box-shadow: 1px 1px 20px 20px forestgreen; */
}
section {
  justify-content: right;
  text-align: right;
}
.aboutIMG {
  width: 500px;
  border-radius: 50px;
}
#cart-section {
  text-align: center;
}
.cart-item {
  margin-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.cart-item button {
  margin: 0 5px;
}
#bombayGrill :disabled {
    background-color: grey;
    cursor: not-allowed;
}
#delhiTikkiDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#chickenKeemsDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#threeCheeseMeltDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}

#roastChickenMeltDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#eggnCheeseDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#chilliCheeseDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#paneerAchariDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#crunchyMexicanDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#chickenTikkaAchariDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#pepperChickenDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#americanBBQDP :disabled {
  background-color: grey;
  cursor: not-allowed;
}
#grand-total{
  text-align: center;
}
#bill-summary{
  text-align: center;
}
